<footer class="footer">
  <div class="footer__bg">
    <div class="footer__content container">
      <ul>
        <li>Acerca de nosotros</li>
        <li>Descarga tu Poliza</li>
        <li> Términos y condiciones</li>
      </ul>
      <div class="footer__social">
        <p>Síguenos en nuestras redes sociales</p>
        <div>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-youtube"></i>
          <i class="fab fa-instagram"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__copyright">
    <p>Copyright <span>{{ date }}</span></p>
  </div>

</footer>
