@import '../../../styles.scss';

.form {
   color: $gray-3; 
   background: $gray-1; 
   height: auto;
   .form-control.is-invalid {
      background-image: none;
   }
   @include mq-min(md) {
      max-width: 370px;
      min-height: 488px;
      margin: 3rem auto;
      padding: 1rem 0;
      @include mq-min(md) {
         margin: 3rem 0 3rem;
      }
   }
   @include mq-max(md) {
      position: absolute;
      width: 40%;
      right: 90px;
      top: 290px;
   }
   @include mq-max(sm) {
      margin: 120px auto;
      width: 80%;
      right: 50px;
      position: static;
      z-index: 4;
   }

   @include e(content){
      padding: 0 1rem;
      @include mq-max(md) {
      padding: 1rem 1.5rem;
      }

   }

   @include e(button){
      @extend .flex;
      justify-content: center;
      width: 100%;
      button{
         background: $secondary; 
         color: $white; 
         border-bottom: 3px solid rgba(0,0,0,0.21);
         font-weight: 500;
         padding: .5rem;
         font-size: 1rem;
         width: 200px;
         font-weight: bold;
         &:hover {
            background: $primary; 
            color: $white; 
         }
         @include mq-max(md) {
            width: 100%;
         }

      }

   }

}
